<p></p>
<div>
  <div>Saldo Total:{{saldoTotal | number : '.2-2'}}</div>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let magaluAcoes of acoesPrintNaTela; let i = index"
    >
    <div>{{ magaluAcoes.valorData | date : 'dd/MM/yyyy' }}</div>
      <div>{{ magaluAcoes.valorAnterior }}</div>
      <div>{{ magaluAcoes.valorCompra }}</div>
      <div>{{ magaluAcoes.valorOperacao }}</div>
      <div>{{ magaluAcoes.valorQuantidade }}</div>
      <div>{{ (magaluAcoes.valorOperacao == 'V')? (magaluAcoes.valorPorcentagem *-1):magaluAcoes.valorPorcentagem }} %</div>

    </li>
  </ul>
</div>
