<p>acoes-pan works!</p>
<div>
  <div>Saldo Total:{{saldoTotal | number : '.2-2'}}</div>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let panAcoes of acoesPrintNaTela; let i = index"
    >
    <div>{{ panAcoes.valorData | date : 'dd/MM/yyyy' }}</div>
      <div>{{ panAcoes.valorAnterior }}</div>
      <div>{{ panAcoes.valorCompra }}</div>
      <div>{{ panAcoes.valorOperacao }}</div>
      <div>{{ panAcoes.valorQuantidade }}</div>
      <div>{{ (panAcoes.valorOperacao == 'V')? (panAcoes.valorPorcentagem *-1):panAcoes.valorPorcentagem }} %</div>

    </li>
  </ul>
</div>
