<p></p>
<div>
  <div>Saldo Total:{{saldoTotal | number : '.2-2'}}</div>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let viaVarejoAcoes of acoesPrintNaTela; let i = index"
    >
    <div>{{ viaVarejoAcoes.valorData | date : 'dd/MM/yyyy' }}</div>
      <div>{{ viaVarejoAcoes.valorAnterior }}</div>
      <div>{{ viaVarejoAcoes.valorCompra }}</div>
      <div>{{ viaVarejoAcoes.valorOperacao }}</div>
      <div>{{ viaVarejoAcoes.valorQuantidade }}</div>
      <div>{{ (viaVarejoAcoes.valorOperacao == 'V')? (viaVarejoAcoes.valorPorcentagem *-1):viaVarejoAcoes.valorPorcentagem }} %</div>

    </li>
  </ul>
</div>
